.nav-menu {
    background: #2c3e50;
    height: 100px;
}

.nav-menu .col-md-3 {
    background: #3d5a77;
    height: 50px;
    margin-top: 25px;;
}

.hero-intro {
    background: #1abc9c;
    height: 600px;
}

.hero-intro .col-xs-12 {
    background: #0e7e67;
    height: 560px;
    margin-top: 20px;
}