/* NAVIGATION MENU */
.nav-menu {
    background: #2c3e50;
    height: 100px;
}

.nav-menu .col-md-3 {
    background: #3d5a77;
    height: 50px;
    margin-top: 25px;;
}

/* HERO BOX */
.hero-intro {
    background: #1abc9c;
    height: 600px;
}

.hero-intro .col-xs-12 {
    background: #0e7e67;
    height: 560px;
    margin-top: 20px;
}
/* PORTFOLIO */
.portfolio {
    background: #fff;
}

.portfolio .row {
    margin-top: 100px;
    margin-bottom:100px;
}

.portfolio .row .col-md-6 {
    padding: 5px;
}

.portfolio .box {
    height: 250px;
    background: #d1d1d1;
}

/* ABOUT */

.about {
    background: #1abc9c;
}

.about .row {
    margin-top: 100px;
    margin-bottom:100px;
}

.about .box {
    height: 200px;
    background: #0e7e67;
    padding: 10px;
}

/* CONTATTI */

.contatti {
    background: #fff;
}

.contatti .row {
    margin-top: 100px;
    margin-bottom: 100px;
}

.contatti .col-lg-8 {
    height: 350px;
    background: #d1d1d1;
}